* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.card {
    float: left;
    margin: 0.05em;
    height: 300px;
    border: 2px solid lightgray;
}


.card .card-header {
    border-bottom: 2px solid lightgrey;

}

.card .card-header .card-image {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.card .card-header .card-title {
    text-align: center;
}

.card .card-body {
    text-align: justify;
    padding: 10px;
}

.card .card-header .card-text {
    text-align: center;
    display: block;
    margin: 10px auto;
}


.skeleton {
    opacity: 0.5;
    animation: loading-content 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    width: 80%;
    margin-bottom: 0;
}

@keyframes loading-content {
    from {
        background-color: hsl(200, 20%, 70%);
    }

    to {
        background-color: hsl(200, 20%, 95%);
    }
}

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.1%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }   
